<?xml version="1.0"?>
<model>
    <name>DD Robot</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <author>
        <name>Angel Soto Pellot</name>
        <email>asoto22@masonlive.gmu.edu</email>
    </author>

    <description>
        Robots are Awesome! This is a DD robot. Yes...
    </description>
</model>